.alpackages/Microsoft_Application_25.3.28755.29283.app
.alpackages/Microsoft_Base Application_25.3.28755.30830.app
.alpackages/Microsoft_Business Foundation_25.3.28755.29283.app
.alpackages/Microsoft_System Application_25.3.28755.29369.app
.alpackages/Microsoft_System_25.2.29136.0.app
.vscode/launch.json
.vscode/settings.json
app.json
Moses Onafuye_cleAPI_1.0.0.0.app
.vscode/rad.json
